# Upgradable
pymongo==3.6.1
tqdm==4.20.0
pandas==0.22.0
flake8==3.5.0
mock==2.0.0
rabbitpy==1.0.0
multihist==0.5.4
msgpack-python==0.5.6

# Unupgradable
python-snappy==0.5.0  # pyup: ignore
wheel>=0.23.0  # pyup: ignore
numpy==1.11.3  # pyup: ignore
matplotlib==2.0.0  # pyup: ignore
scipy==0.18.1  # pyup: ignore
prettytable==0.7.2  # pyup: ignore
numba==0.35.0  # pyup: ignore
scikit-learn==0.18.1  # pyup: ignore
#h5py==2.6.0  # pyup: ignore
six==1.10.0  # pyup: ignore
numexpr==2.6.1  # pyup: ignore
psutil==5.0.1  # pyup: ignore
pytz==2017.2  # pyup: ignore
