wheel>=0.23.0
numpyson             # Needed for micromodels
numpy
pymongo
tables>=3.1.1
blosc
matplotlib>=1.3.0
scipy>=0.14.0
tqdm                 # Progress bar library
prettytable
pandas               # Used for the waveformsimulator's truth file
pyintervaltree       # Used for event.occurrences_interval_tree
