wheel>=0.23.0
numpy>=1.9.0         # Needed for np.unique(a, return_counts=True) in waveform simulator
pymongo
matplotlib>=1.3.0
scipy>=0.14.0
tqdm                 # Progress bar library
prettytable          # Timing report formatting
pandas               # Used for various I/O stuff
tables               # Used by pandas for HDF5 output
flake8
avro-python3          # Raw data format
